# System Artifacts (Internal)
*.resolved
*.resolved.*
*.md.metadata.json
!metadata.json

# OS Files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# IDE Files
.idea/
.vscode/
*.swp
*.swo

# Go Binaries/Build
*.exe
*.test
*.prof
vendor/
